
.brand-title-block {
	margin: $section-gap 0;
	text-align: center;

	@at-root .product-brand & {
		margin-bottom: 0;
	}

	&-img {
		max-width: 80px !important;
		width: auto !important;
		height: auto !important;
		border: 1px solid $gray-300;
		border-radius: 50%;
		background-color: $white;
		margin-bottom: $section-gap / 2;

		@at-root .product-brand & {
			max-width: 150px !important;
		}
	}

	&-text {
		margin: 0 $section-gap !important;
		font-weight: $font-weight-bold !important;
		font-size: $h4-font-size !important;
		font-family: $font-family-sans-serif !important;

		small {
			display: block;
		}
	}
}
