@if $is-editor {
	// Nothign.
} @else {

	.kbl-link-card {
		flex-basis: 50%;

		.has-2-columns & {
			flex-basis: 50%;
		}

		.has-3-columns & {
			flex-basis: 33%;
		}

		.has-4-columns & {
			flex-basis: 25%;
		}

		&-list {
			display: flex;
			flex-wrap: wrap;
			margin: $section-gap / 20;
		}

		@include media-breakpoint-down( sm ) {
			flex-basis: 100% !important;
		}
	}
}

.kbl-link-card {

	padding: 0 $section-gap / 2;
	margin-bottom: $section-gap;

	&-anchor {
		display: block;
		position: relative;
		min-height: 180px;
		overflow: hidden;

		&:hover .kbl-link-card-text {
			background-color: $danger;
		}
	}

	&-img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: auto;
		height: auto;
		min-height: 100%;
		min-width: 100%;
		z-index: 1;
	}

	&-text {
		position: absolute;
		display: inline-block;
		box-sizing: border-box;
		text-align: left;
		z-index: 2;
		background-color: $black;
		color: $white;
		padding: 5px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: $h4-font-size;
		font-family: $font-family-serif;
		transition: background-color .3s ease-in-out;

		strong {
			font-weight: $font-weight-base;
			font-size: $h2-font-size;
			color: $white;
		}
	}
}
