.wp-block-group,
.wp-block-hakama-section {

	margin-top: 0;
	margin-bottom: 0;
	padding: $section-gap * 2 0;

	&.is-style-bordered {
		border: 1px solid $black;
	}

	// Group
	&[class*="has-"] {
		margin-top: 0;
		margin-bottom: 0;
		padding: $section-gap * 2 $grid-gutter-width $section-gap;

		.wp-block-group__inner-container,
		.wp-block-hakama-section-inner {

			> *:first-child {
				margin-top: 0;
			}

			> *:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.alignfull {

	.wp-block-group__inner-container,
	.wp-block-hakama-section-inner {

		@extend %entry-wrapper !optional;
	}
}
