h1,
h2,
h3,
h4,
h5,
h6 {

	&.is-style-overline {

		@extend %overline-heading;

		&.has-text-align-center {

			@extend %overline-heading-center;
		}

		&.has-text-align-right {

			@extend %overline-heading-right;
		}
	}

	&.is-style-separator {
		display: flex;
		white-space: nowrap;
		justify-content: space-between;
		align-items: center;

		&::after,
		&::before {
			display: block;
			height: 1px;
			background-color: $gray-200;
			flex-basis: 100%;
		}

		&::before {
			content: none;
			margin-right: $section-gap / 2;
		}

		&::after {
			content: "";
			margin-left: $section-gap / 2;
		}

		&.has-text-align-center::before,
		&.has-text-align-right::before {
			content: "";
		}

		&.has-text-align-right::after {
			content: none;
		}

		@include media-breakpoint-down(sm) {
			display: block;
			white-space: normal;
			text-shadow: 0 0 3px $white;
			position: relative;
			z-index: 1;

			&::before {
				position: absolute;
				top: 50%;
				left: 0;
				right: 0;
				transform: translateY(-50%);
				z-index: -1;
			}

			&::after {
				content: none !important;
			}
		}
	}

	&.is-style-underline {
		padding-bottom: 0.25em;
		border-bottom: 5px solid $gray-200;
	}


}

@if $is-editor {

	.is-style-separator {
		white-space: nowrap !important;
	}
}
