%term-badge {
	font-size: $font-size-sm;
	line-height: 1;
	display: inline-block;
	margin-right: 10px;
	padding: 2px 1em;
	background-color: $black;
	color: $white;
}

/* List */
.post-list {
	margin: $section-gap 0 $section-gap / 2;
	padding: 0;

	&-item {
		border-bottom: 1px solid $gray-200;
		list-style: none;
		margin: 0;
		position: relative;
	}

	&-link {
		display: flex;
		flex-wrap: nowrap;
		position: relative;

		&:link,
		&:visited {
			color: $primary;
			text-decoration: none;
		}

		&:hover,
		&:active {
			color: $primary;
			text-decoration: none;
		}
		& + i {
			position: absolute;
			right: 10px;
			font-size: 10px;
			top: 50%;
			transform: translateY(-50%);
			color: $black;
			transition: background-color .5s ease-in-out;
			width: 40px;
			height: 40px;
			line-height: 40px;
			border-radius: 50%;
			text-align: center;
		}
		&:hover + i {
			background-color: $black;
			color: $white;
		}
	}

	&-thumbnail {
		padding: 20px 0;
	}

	.post-list-img {
		width: 60px;
		height: 60px;
		border-radius: 50%;
	}

	&-body {
		flex-basis: 100%;
		padding: 20px 60px 20px 20px;
		line-height: 1.1;
	}

	&-category {
		margin: 0 0 15px;
	}

	&-term {

		@extend %term-badge;
	}

	&-title {
		font-weight: $font-weight-bold;
		font-size: $h5-font-size;
		margin: 0 0 10px;
	}

	&-meta {
		font-size: $font-size-sm;
	}

	&-date {
		margin-right: 1em;
	}
}

.kbl-post-list-button {
	text-align: center;
	margin-bottom: $section-gap;

	&-link {
		min-width: 180px;

		@extend .btn;
		@extend .btn-outline-primary;
	}
}

/* Card */
.post-card {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	margin: $section-gap 0 $section-gap / 2;

	&-item {
		margin-right: 20px;
		flex-basis: 100%;

		&:last-child {
			margin-right: 0;
		}
	}

	&-thumbnail {
		height: 210px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		background-color: $white;
	}

	&-title {
		font-size: $font-size-base;
		font-weight: $font-weight-bold;
		margin: 0 0 10px;
	}

	&-meta {
		margin: 0;

		& + & {
			margin-top: 10px;
		}
	}

	&-link {
		display: block;
		position: relative;
		border: 1px solid $gray-200;
		font-size: $font-size-sm;
		transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0);
		background-color: $white;
		&:link,
		&:visited {
			color: $black;
			text-decoration: none;
		}

		&:active,
		&:hover {
			color: $black;
			text-decoration: none;
			background-color: $light;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
		}
	}

	&-body {
		padding: 20px 10px 40px;
	}

	&-term {
		position: absolute;
		top: 0;
		left: 0;
		max-width: 100%;

		@extend %term-badge;

		padding: 1em 2px;
	}
}
