.card{

  &.on-sale{
    animation: keyframe-shadow 2s $ease-in-out-sine infinite;
  }
  &-price{
    margin-bottom: 0.5em;
  }
  &-body{
    padding-top: 30px;
  }
  &-img-top{
    height: auto;
  }
  &-title{
    font-size: 1.2rem;
  }
  &-text{
    font-size: 0.85rem;
  }

  &-subtitle{
    font-size: 0.8rem;
    .fa{
      color: #ccc;
      margin-left: 1em;
      margin-right: 0.25em;
      &:first-child{
        margin-left: 0;
      }
    }
  }

  &-columns{
    column-count: 1;
    @include media-breakpoint-up(sm){
      column-count: 2;
    }
    @include media-breakpoint-up(lg) {
      column-count: 3;
    }
    @include media-breakpoint-only(xl) {
      column-count: 4;
    }
    &-small{
      @include media-breakpoint-up(sm){
        column-count: 1;
      }
      @include media-breakpoint-up(md){
        column-count: 1;
      }
      @include media-breakpoint-up(lg) {
        column-count: 2;
      }
      @include media-breakpoint-only(xl) {
        column-count: 3;
      }
    }
  }

  &-icon{
    display: block;
    margin: 0 auto 1rem;
    text-align: center;
    font-size: 3rem;
    &-image{
      text-align: center;
      max-width: 100%;
      width: 200px;
      margin: 0 auto 1rem;
      img{
        max-width: 100%;
        height: auto;
        width: auto;
        border-radius: 50%;
      }
    }
  }


}


