.wpcf7 {

	form {
		margin: 1em 0;
	}

	span.wpcf7-not-valid-tip {
		color: $danger;
	}

	div.wpcf7-response-output {
		border: none;
		color: #fff;
		padding: 1em;
		border-radius: 3px;
	}

	& {
		&-mail-sent-ok {
			background-color: $success;
		}

		&-mail-sent-ng,
		&-aborted {
			background-color: $danger;
		}

		&-spam-blocked {
			background-color: $warning;
		}

		&-validation-errors,
		&-acceptance-missing {
			background-color: $warning;
		}
	}

	&-subscribers-only {
		color: #fff;
		margin: 3em 0;
		padding: 1em;
		background-color: $warning;
	}
}
