.woocommerce .woocommerce-Button{

  background-color: #fff !important;
  font-weight: normal !important;
  color: $primary !important;
  border: 1px solid $primary !important;
  transition: color .3s $ease-in-out-sine, background-color .3s $ease-in-out-sine, box-shadow .3s $ease-in-out-sine;
  &:hover{
    background-color: $primary !important;
    color: #fff !important;
  }
  &:active{
    background-color: $primary !important;
    color: #fff !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, .4) inset;
  }
}