.cart {

	&-btn {
		position: relative;
	}

	&-count {
		$size: 16px;
		position: absolute;
		top: 2px;
		right: 2px;
		width: $size;
		height: $size;
		background: $danger;
		color: #fff;
		text-align: center;
		line-height: $size;
		font-size: 9px;
		border-radius: 50%;
	}

	&-dropdown {
		width: 220px;
		padding: 10px;
		top: 10px !important;
		box-shadow: 0 0 5px rgba(0, 0, 0, .2);
		background: #fff;

		.buttons {

			.button {
				width: 100%;
				text-align: center;
			}
		}

		.total {
			text-align: right;

			.amount {
				font-weight: $font-weight-bold;

				@extend .text-warning;
			}
		}

		.woocommerce-mini-cart__empty-message {
			font-size: 0.8rem;
			text-align: center;

			@extend .text-danger;
		}

		//right: 0 !important;
	}
}

@keyframes shaking {

	0% {
		transform: rotate(0deg);
	}

	33% {
		transform: rotate(45deg);
	}

	66% {
		transform: rotate(-45deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

.shake {
	animation: shaking .2s $ease-in-out-sine infinite;
}


.cross-sells {

	h2 {

		@extend %dividing-header;
	}

	.card-columns {
		column-count: 1;

		@include media-breakpoint-up(sm) {
			column-count: 1;
		}

		@include media-breakpoint-up(lg) {
			column-count: 2;
		}

		@include media-breakpoint-only(xl) {
			column-count: 2;
		}
	}
}

.cart-progress {
	margin: $section-gap * 2 auto $section-gap;
	max-width: 525px;

	&-nav {
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: center;
	}

	&-item {
		flex: 1 1 33.3%;
		text-align: center;
		margin: 0;
		list-style: none;
		position: relative;

		&::before,
		&::after {
			position: absolute;
			display: block;
			content: "";
			bottom: 14px;
			height: 3px;
			width: 50%;
			background-color: $primary;
			z-index: 1;
		}

		&::before {
			left: 0;
		}

		&::after {
			right: 0;
		}

		&:first-child::before,
		&:last-child::after {
			background-color: transparent;
		}
	}

	&-icon {
		display: block;
		margin: 0 auto 8px;
		font-size: $h3-font-size;
	}

	&-label {
		display: block;
	}

	&-dot {
		display: block;
		margin: 8px auto 0;
		width: 30px;
		height: 30px;
		box-sizing: border-box;
		border: 2px solid transparent;
		border-radius: 50%;
		position: relative;
		z-index: 2;

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: $primary;
			border-radius: 50%;
			width: 14px;
			height: 14px;
		}

		@at-root .active & {
			border-color: $primary;
			background-color: $white;
		}
	}
}
