// section tags.
section {
	padding: $section-gap * 2 0;
}

.section-main {
	padding: 0;
	background-color: #fff;
	min-height: calc(100vh - 150px);
}

.wp-block-hakama-container {

	@extend .container;
}

.sidebar {
	padding-top: 0;
}

//
// Override WooCommerce columns
//
.woocommerce .col2-set {

	@extend .row;

	.col-1,
	.col-2 {
		flex: 1;
		max-width: 100%;
	}
}

%entry-wrapper {
	// Entry is always 960px maximum.
	padding: 0;
	margin: 0 auto;
	$entry-max-width: map_get($container-max-widths, "lg");
	max-width: $entry-max-width;

	@include media-breakpoint-down(lg) {
		padding: 0 $grid-gutter-width;
	}

	@include media-breakpoint-down(md) {
		padding: 0 $grid-gutter-width / 2;
	}
}

.border-top {
	border-top: 1px solid $gray-300;
}

.border-bottom {
	border-bottom: 1px solid $gray-300;
}
