$align-padding: 20px;

.wp-caption {
	max-width: 100%;

	&-text {

		@extend %wp-caption-text;
	}
}

.alignright {
	margin: $align-padding 0 $align-padding $align-padding;
	float: right;
}

.alignleft {
	float: left;
	margin: $align-padding $align-padding $align-padding 0;
}

.aligncenter {
	display: block;
	margin: $align-padding auto;
}
