.submission{

  padding: $section-gap 0;
  @include gradient-bg($secondary);

  .form-group{
    label{
      color: $gray-400;
      &.form-check-label{
        color: $white;
      }
    }
  }

  &-title{
    i{
      font-size: 3rem;
      margin-bottom: 1rem;
    }
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 0.25em;
    text-shadow: 0 0 5px transparentize(#fff, .4);
  }

  &-lead{
    font-size: 1.1rem;
    text-align: center;
    color: $gray-300;
    margin-bottom: $section-gap;
  }

  &-submit{
    margin-top: $section-gap;
  }

}