$footer-gap: $section-gap !default;


.colophon{
  padding: $footer-gap 0 0;
  &-divider{
    margin: $footer-gap / 2 auto;
    display: block;
    height: 0;
    border: none;
    border-top: 1px solid #eee;
    width: 40%;
    min-width: 200px;
  }

  p.copyright{
    text-align: center;
    font-size: 0.8rem;
    margin: 0;
    padding-bottom: $footer-gap;
    color: #888;
    a{
      transition: color .3s $ease-in-out-sine;
    }
    a:link, a:visited{
      text-decoration: underline;
      color: #666;
    }
    a:hover, a:active{
      text-decoration: none;
      color: #aaa;
    }
  }
}
