.header-notification {

	text-align: center;

	@include moving-gradient($color1: #f9d423, $color2: #e14fad, $color3: #fffc24);


	&-text {
		$notification-color: #fff !default;
		padding: 20px 0;
		font-weight: 100;
		color: $notification-color;

		@extend %ellipsis;

		a {
			&:link,
			&:visited {
				color: $notification-color;
				text-decoration: underline;
			}

			&:hover, &:active {
				color: lighten($notification-color, 30);
				text-decoration: none;
			}
		}

		strong {
			font-weight: 800;
		}
	}

}
