$nav-item-padding: 10px;


.global-nav {
	position: relative;
	z-index: 99;
	background: #fff;
	border-bottom: #eee;

	ul {
		padding: 0;
		margin: 0;
	}

	li {
		list-style: none;

		a {
			display: block;
			padding: $nav-item-padding;
			font-weight: 200;
			transition: color .3s linear, background-color .3s linear;

			&:link, &:visited {
				text-decoration: none;
				color: #000;
				background: #fff;
			}

			&:hover, &:active, &.active {
				text-decoration: none;
				color: #888;
				background: #eee;
			}
		}
	}

	.container {
		@include media-breakpoint-down(sm) {
			padding-top: 1px;
			padding-bottom: 1px;
		}
	}

	&-toggle {
		margin: 14px 0;
		display: none;
		cursor: pointer;
		background: #fff;
		border: 2px solid $primary;
		border-radius: 3px;
		color: $primary;
		width: 100%;
		transition: color .3s linear, background-color .3s linear;

		&:hover {
			background: $primary;
			color: #fff;
		}

		@include media-breakpoint-down(sm) {
			display: block;
		}

		.fa {
			margin-right: 0.5em;
		}

		.fa-times {
			display: none;
		}

		&.toggle {
			.fa-times {
				display: inline-block;
			}

			.fa-bars {
				display: none;
			}
		}
	}

	&-list {

	}

	&-item {

		// Menu for wide screen
		@include media-breakpoint-up(md) {
			display: flex;
			flex-wrap: nowrap;
			// List
			& > li {
				position: relative;
				flex: 1;
				overflow: visible;

				& > a {
					text-align: center;
					position: relative;

					&:after {
						position: absolute;
						bottom: 0;
						left: 50%;
						transform: translateX(-50%);
						content: "";
						display: block;
						width: 0;
						height: 2px;
						background: #888;
						transition: width .2s $ease-in-out-sine;
					}

					&:link, &:visited {
						background: #fff;
					}

					&:hover, &:active {
						background: #fff;

						&:after {
							width: 100%;
						}
					}
				}

			}

			// Child list
			& > li > .sub-menu {
				position: absolute;
				width: 100%;
				left: 0;
				display: none;
				font-size: 0.8rem;

				& > li {
					border: 1px solid #ddd;
					border-top: none;
				}
			}
			& > li:hover > .sub-menu {
				display: block;
			}

			// Grand child list
			& > li > .sub-menu .sub-menu {
				li {
					border-top: 1px dotted #ddd;
					font-size: 0.85em;

					a {
						&:before {
							content: "- ";
						}
					}
				}
			}

		}

		// Menu for small device
		@include media-breakpoint-down(sm) {
			display: none;
			.toggle + .global-nav-list & {
				display: block;
			}
			// List
			& > li {
				border-bottom: 1px solid #ddd;
			}
			// Child list
			& > li > .sub-menu {
				& > li > a:before {
					content: "- ";
					font-size: 0.85em;
				}
			}
			// Grand child list
			& > li > .sub-menu .sub-menu {
				font-size: 0.85em;

				& > li > a:before {
					padding-left: $nav-item-padding * 2;
					content: "- ";
				}
			}
		}

	}

}
