@mixin transition($props, $duration:.3s) {
}

// Moving gradient with 3 colors.
@keyframes keyframe-moving-gradient {

	0% {
		background-position: 0 50%;
	}

	33% {
		background-position: 100% 50%;
	}

	66% {
		background-position: 0 50%;
	}
}

// rotating
@keyframes keyframe-rotate {

	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes keyframe-shadow {
	$color: #000;

	0% {
		box-shadow: 0 0 0 transparentize($color, 1);
	}

	50% {
		box-shadow: 0 0 15px transparentize($color, .6);
	}

	100% {
		box-shadow: 0 0 0 transparentize($color, 1);
	}
}

// Gradation animation
@mixin moving-gradient( $deg: to right, $color1: #6cb8ff, $color2: #fff66c, $color3: #ffa36c, $duration: 10s, $timing: $ease-in-out-sine ) {
	background: linear-gradient($deg, $color1, $color2, $color3);
	background-size: 600% 600%;
	animation: keyframe-moving-gradient $duration $timing infinite;
}
