// Sizing
$section-gap: 40px;

$price-font-family: Lucida Grande, Helvetica, Arial, Verdana, sans-serif;

%ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

$header-gradient-start: #343a40;
$header-gradient-end: #6c757d;

%header-gradient {
	background-color: $header-gradient-start;
	@include bg-gradient(100deg, $header-gradient-start, $header-gradient-end);
}

%header-centered {
	text-align: center;
	padding-bottom: 0.5em;
	position: relative;

	&:after {
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 30%;
		max-width: 100px;
		height: 3px;
		@include bg-gradient(to bottom right, #eee, #f2f2f2);
	}
}
