$is-editor: false !default;

$enable-gradients: true;

// Typography
$font-family-sans-serif: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", sans-serif;
$font-family-serif: "Palatino Linotype", "Book Antiqua", Palatino, "Yu Mincho Medium", "游明朝 Medium", YuMincho, "游明朝体", serif;


// Font size
$font-size-base: 0.875rem;

$h1-font-size: 3rem;
$h2-font-size: 1.625rem;
$h3-font-size: 1.375rem;
$h4-font-size: 1.125rem;
$h5-font-size: 1rem;
$h6-font-size: 0.925rem;

$primary: #000;
$gray-100: #f6f6f6;
$gray-200: #e1e1e1;

// Link color.
$link-color: $primary;
$link-hover-color: lighten( $primary, 10 );
$link-decoration: underline;
$link-hover-decoration: none;

// Typography
$font-family-serif: Georgia, 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,serif;

// Modal
$modal-content-border-radius: 0;

// Button Styles.
$btn-border-radius: 0;
$btn-border-radius-lg: 0;
$btn-border-radius-sm: 0;

// Input
$input-border-radius: 0;
$input-border-radius-lg: 0;
$input-border-radius-sm: 0;
