@charset "UTF-8";

$is-editor: true;

@import "hakama/overrides";

$hb-img-path: '../../../../plugins/makibishi/vendor/hametuha/hashboard/assets/img' !default;


.editor-styles-wrapper {

	@import "hb_bootstrap_override";
	@import "bootstrap";
	@import "hb_globals";
	@import "hb-components/*";

	@import "hakama/mixins/*";
	@import "hakama/globals";

	.editor-block-list {
		&__block {
			padding: 0 20px;
		}

		&__layout {
			font-family: $font-family-sans-serif;
			padding: 0 46px;
			@include post-styles();
			@include link-style();

			.wp-block {
				max-width: 1180px;
				@at-root .editing-in-page-1column & {
					max-width: none;
				}
			}
		}
	}

	@import "hakama/block/*";
}
