@import "hb_bootstrap_override";
@import "hakama/overrides";
@import "hakama/mixins/color_helper";
@import "hakama/mixins/animation";
@import "hakama/globals";

$hakama-admin-header-height: 48px;
$hakama-admin-btn-size: 32px;

//
// Adjust sizing
//
html.wp-toolbar {
	padding-top: $hakama-admin-header-height !important;
}

#wpbody {
	padding-top: 0 !important;
}

#wpcontent,
#wpfooter {
	margin-left: 0 !important;
}

.edit-post-header,
.auto-fold .components-notice-list {
	left: 0 !important;
}

#wpadminbar,
#adminmenumain {
	display: none !important;
}

body.gutenberg-editor-page {
	.edit-post-header {
		top: $hakama-admin-header-height
	}
}

.edit-post-header {

}

.edit-post-sidebar {
	top: 104px !important;
	@media only screen and (max-width: 599px) {
		top: 0 !important;
	}
}

//
// Header
//
.hakama-admin-header {
	position: fixed;
	top: 0;
	width: 100%;
	height: $hakama-admin-header-height;
	@extend %header-gradient;
	z-index: 20000;

	&-text {
		text-align: center;
		font-size: 14px;
		font-weight: 200;
		margin: 0;
		padding: 0 40px;
		height: $hakama-admin-header-height;
		line-height: $hakama-admin-header-height;
		color: #fff;
	}

	&-btn {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		display: block;
		width: $hakama-admin-btn-size;
		height: $hakama-admin-btn-size;
		border-radius: 50%;
		background: #fff;
		text-align: center;
		line-height: $hakama-admin-btn-size;
		color: $header-gradient-end;

		.dashicons {
			vertical-align: middle;
		}

		transition: color .2s $ease-in-out-sine, box-shadow .2s $ease-in-out-sine;

		&:link, &:visited {
			color: $header-gradient-end;
			text-decoration: none;
			box-shadow: 0 0 5px rgba(0, 0, 0, .4);
		}

		&:hover, &:active {
			color: $header-gradient-start;
			text-decoration: none;
			box-shadow: 0 0 0 rgba(0, 0, 0, 0);
		}
	}

	&-back {
		left: 15px;
		top: 50%;
	}

	&-menu {
		right: 15px;
	}
}
