.category-nav {
	margin-bottom: $section-gap;
}

.entry {

	@extend %entry-wrapper;

	&-thread {
		margin-bottom: $section-gap;
	}

	// Alignment
	.alignleft,
	.alignright {
		max-width: 50%;
	}

	.aligncenter {
		clear: both;
	}

	.alignwide {
		margin: 0 -1 * $grid-gutter-width;
		width: calc(100% + #{$grid-gutter-width} * 2);

		@include media-breakpoint-down(md) {
			margin: 0 -0.5 * $grid-gutter-width;
			width: calc(100% + #{$grid-gutter-width});
		}
	}

	.alignfull {
		margin-right: calc(50% - 50vw);
		margin-left: calc(50% - 50vw);
		width: 100vw;
	}


	&-title {
		font-size: $h2-font-size;
		font-family: $font-family-serif;
		line-height: 1.2;

		&-private {
			color: $brand-yellow;
		}

		&-with-icon {

			&::after {
				content: "";
				display: block;
				clear: both;
			}
		}

		&-icon {
			float: left;
			margin-right: $section-gap / 2;
			text-align: center;
			i {
				font-size: 36px;
			}
			span {
				display: block;
				font-size: $font-size-sm;
			}
		}
	}

	&-meta {
		padding-bottom: $section-gap;
		margin-bottom: $section-gap;

		&-thread {
			padding: $section-gap $section-gap / 2 0;
			margin-bottom: 0;
			position: relative;
		}

		&-author {
			margin-top: $section-gap;
			height: 60px;
			line-height: 60px;
			border-bottom: 1px solid $gray-300;
			overflow: visible;

			img {
				width: auto;
				height: auto;
				max-width: 80px;
				border-radius: 50%;
				border: 1px solid $gray-300;
			}
		}

		&-data {
			padding: 0;
			margin: 10px 0 0;

			&-resolved {

				.fa-check-circle {
					color: $success !important;
				}
			}

			li {
				list-style: none;
				display: inline-block;
				margin-right: 0.5em;
				font-size: 0.8rem;

				@extend .text-muted;

				.fa {
					color: #ccc;
					margin-right: 0.25em;
				}

				.avatar {
					width: 24px;
					height: 24px;
					border-radius: 50%;
					margin-right: 0.25em;
				}

				a {
					&:link,
					&:visited {
						text-decoration: underline;
						color: $blue;
					}

					&:hover,
					&:active {
						text-decoration: none;
						color: lighten($blue, 10);
					}
				}

				&.entry-tags a {
					transition: color .3s linear, background-color .3s linear;
					border: 1px solid $blue;
					padding: 2px 5px;
					display: inline-block;
					margin-right: 10px;
					border-radius: 10px;

					&:link,
					&:visited {
						text-decoration: none;
						color: $blue;
					}

					&:hover,
					&:active {
						text-decoration: none;
						color: #fff;
						background-color: $blue;
					}
				}
			}
		}
	}

	&-content {
		line-height: 1.8;

		@include post-styles();

		&::after {
			content: "";
			display: block;
			clear: both;
		}

		&-thread {
			padding: 0 $section-gap / 2 $section-gap;
		}
	}

	&-thread {
		background-color: $gray-100;
	}

	&-footer {

		&-title {

			@extend %dividing-header;
		}
	}
}
