.product-gallery {

	// Same as WP.
	$slider-height-ratio: 100vw / 772 * 250;

	&-screen {
		width: 100vw;
		height: $slider-height-ratio;
		overflow: hidden;

		@include media-breakpoint-down(sm) {
			height: 100vw;
		}
	}

	&-item {
		display: none;
		margin-right: auto;
		margin-left: auto;
		width: 100%;
		height: 100%;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;

		&:first-child {
			background-size: cover;
		}

		@include media-breakpoint-down(sm) {
			width: 100%;
			background-size: cover;
		}

		&.current {
			display: block;
		}
	}

	&-thumbnails {
		padding-top: 20px;
		padding-bottom: 20px;
		margin-right: 40px;
		margin-left: 40px;

		.swiper-wrapper {
			justify-content: flex-start;
		}
	}

	&-thumbnail {
		position: relative;
		margin-right: 20px;

		&.current::after {
			content: "";
			position: absolute;
			border: 5px solid rgba(0, 0, 0, .4);
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		img {
			max-width: 80px;
			width: auto;
			height: auto;
		}
	}
}
