.woocommerce-Reviews {
	max-width: 600px;
	margin: 0 auto;

	ol.commentlist {
		padding: 0 !important;
		margin: 40px 0 20px !important;
	}

	&-title {
		text-align: center;

		@extend .is-style-overline;

		@extend .is-style-overline.has-text-align-center;

		@extend .f-serif;
	}

	.woocommerce-noreviews {
		text-align: center;
		color: $gray-600;
	}
}

.review {

	&-item {
		padding: 20px 0 !important;
		margin: 0 !important;
		border-bottom: 1px solid $gray-300 !important;
	}

	&-title {
		font-size: $h5-font-size;
		font-weight: $font-weight-bold;
		margin-bottom: 8px;
	}

	&-author {
		font-size: $font-size-sm;
		margin-bottom: 5px;
	}

	&-date {
		font-size: $font-size-sm;
	}

	&-meta {
		margin-bottom: 10px;
	}

	&-body {

		p:last-child {
			margin-bottom: 0;
		}
	}
}

.woocommerce-verification-required {

	@extend .alert;

	color: $gray-600;
	text-align: center;
	font-size: $font-size-sm;
}

.hakama-stars {
	position: relative;
	width: 5em;
	display: inline-block;
	height: 1em;
	line-height: 1;

	$stars: "★★★★★";

	&::before {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 2;
		width: 100%;
		height: 100%;
		content: $stars;
		color: $gray-300;
	}

	&-value {
		position: absolute;
		display: inline-block;
		bottom: 0;
		left: 0;
		z-index: 3;
		overflow: hidden;
		height: 100%;

		&::before {
			content: $stars;
			color: $warning;
			white-space: nowrap;
		}
	}

	@at-root .product-header & {
		line-height: 1.4;
	}
}

#review_form {

	.comment-reply-title {
		font-size: $font-size-sm;
		cursor: pointer;
		text-decoration: underline;
		display: inline-block;
		padding: 3px 10px;
		color: $gray-600;
	}

	.comment-form {
		display: none;
		padding: 40px;
		margin: 40px 0;
		background-color: $gray-200;

		label {
			font-weight: $font-weight-bold;
			display: block;
			margin: 0 0 10px;
		}

		.required {
			color: $danger;
			font-weight: $font-weight-base;
		}

		textarea {

			@extend .form-control;
			@extend textarea.form-control;
		}

		.comment-form-rating {
			margin-bottom: 20px;
		}

		.stars a {
			color: $warning !important;
		}

		.form-submit {
			text-align: center;
		}
	}

	.toggle + .comment-form {
		display: block;
	}
}

// Override buttons.
.woocommerce #review_form #respond input#submit {

	@extend .btn;
	@extend .btn-primary;
}

.review-summary {
	max-width: 600px;
	margin: 40px auto;
	display: flex;
	align-items: center;

	&-rating {
		flex-basis: 40%;
		width: 100%;
		text-align: center;

		.star-rating {

			&-average {
				display: block;
				font-size: 40px;
				line-height: 1;
				font-weight: $font-weight-bold;
			}


		}

		.hakama-stars {
			display: block;
			font-size: 20px;
			margin: 10px auto;
		}

		.woocommerce-review-link {
			display: block;
		}
	}

	&-graph {
		flex-basis: 60%;
		width: 100%;

		&-table {
			width: 100%;
			table-layout: auto;

			th {
				width: 2em;
			}

			th,
			td {
				padding: 5px;
			}
		}

		&-bar {
			height: 1em;
			background-color: $gray-300;

			&-inner {
				height: 100%;
				background-color: $warning;
			}
		}
	}

	&-ratio {
		width: 3em;
	}

	@include media-breakpoint-down(sm) {
		display: block;
	}


}
